html {
    box-sizing: border-box;
    height: 100%;
}

button{
    background: none;
    border: none;
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans TC';
}

nav{
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
}

.top{
    display: grid;
    grid-template-columns: 1fr 84px 91px;
}

.webname{
    width: 150px;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    line-height: 34px;
    margin:10px 0px ;
    text-decoration: none;
    color: #448899;
}

.book{
    width: 64px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin:20px 10px ;
    text-align: center;
    line-height: 14px;
    text-decoration: none;
    color: #666666;
    justify-content:center;
}

.signin{
    width: 71px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin:20px 10px ;
    text-align: center;
    line-height: 14px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    justify-content:center;
    display:none;
}

.signin.show{
    display: block;
}

/*註冊跟登入視窗*/
.sign-window{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: none;
}

.sign-window.show{
    display: block;
}

.sign-container{
    display:none;
    width: 340px;
    height: 275px;
    margin: 80px auto;
    background: #ffffff;
    border-radius: 6px;;
}
.sign-container.show{
    display: block;
}

.top-bar{
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0 0 ;
}

.form-container{
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 0 0px 6px 6px;
}
.form-title{
    position: relative;
    color: #666666;
    margin-bottom: 15px;
    font-size: 24px;
}

.close-btn{
    position: absolute;
    line-height: 16px;
    width: 16px;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

.form-content>*{
    width: 100%;
    height: 47px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
}

.form-content>input::placeholder{
    color: #666666;
    font-size: 16px;
}

.form-content>button{
    color: #ffffff;
    width: 100%;
    height: 47px;
    font-size: 19px;
    background: #448899;
    border: 0;
    cursor: pointer;
}

.message{
color: red;
}

.change-sign{
    font-weight: bold;
    color: #666666;
    cursor: pointer;
    margin: 0 auto;
}

h3, p, label, span{
    color: #666666;
}

footer{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 104px;
    width: 100%;
    color: #ffffff;
    background-color: #757575;
    text-align: center;
    margin-bottom: 0;
}

.up-seperator{
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #e8e8e8;
}

.seperator{
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: #e8e8e8;
}


main{
    min-height: calc(100% - 54px - 104px);
    width: 1200px;
    margin: 0 auto;
}


.nobooking{
    display: none;
    color: #666666;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto 40px auto;
    width: 980px;
}

.booking-alldata{
    display: none;
}

.booking-show{
    display: block;
}

.headline{
    width: 980px;
    margin: 40px auto 30px auto;
}

.booking-container{
    display: flex;
    width: 980px;
    height: 200px;
    margin:0 auto 40px auto;
    align-items: center;
}


.img-base{
    width: 266px;
    height: 100%;
    top: 0;
    margin-bottom: 30px;
}

.img-base>img{
    width: 266px;
    height: 100%;
    margin: 0 8px;
    object-fit: cover;
    top: 0;
    left: 0;
}

.booking-content{
    margin-left: 22px;
    font-size: 16px;
    line-height: 13px;
    width: 100%;
}

.booking-attraction{
    font-weight: bold;
    color: #448899;
    margin-bottom: 30px;
}

.booking-item{
    display: flex;
    margin-bottom: 20px;
    color: #666666;
}

.booking-item>span{
    font-weight: bold;
}

.delete{
    margin:0 0 auto auto;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.order{
    width: 1200px;
    line-height: 16px;
}
.contact-info ,.pay-info,.price-info{
    align-items: center;
    width: 980px;
    margin: 0 auto;
}

.contact-info>h3 ,.pay-info>h3{
    margin:44px 0 24px;
    font-size: 19px;
}

.contact-info>div ,.pay-info>div{
    margin-bottom:15px;
    font-size: 16px;
    align-items: center;
}

.contact-info>p{
    font-weight: bold;
}

.price-info{
    margin-bottom: 60px;

}.pay-info>div{
    display: flex;
}

.order :is(input, .card-info){
    width: 200px;
    padding: 10px;
    border:1px solid #E8E8E8;
    border-radius: 5px;
    height: 35px;
}



.price-info>p{
    margin-bottom: 20px;
    width: fit-content;
    margin-left: auto;
    font-weight: bold;
}

.price-info>button{
    display: block;
    background: #448899;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
}


@media (max-width:1200px){
    nav{
        grid-template-columns: 1fr;
    }
    main{
        width: 100%;
    }

    .headline{
        width: 100%;
    }

    .nobooking{
        width:100%;
    }
    .booking-container{
        width: 100%;
    }
    .order{
        width: 100%;
    }
    .contact-info ,.pay-info,.price-info{
        width: 100%;
    }
}

@media (max-width:600px){
    .booking-container{
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    main{
        width: 100%;
    }
    .order{
        width: 100%;
    }
    .contact-info ,.pay-info,.price-info{
        width: 100%;
    }
    nav{
        grid-template-columns: 1fr;
    }
    .img-base{
        width: 100%;
    }
    
    .img-base>img{
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
    }
}