html {
    box-sizing: border-box;
    height: 100%;
}

button{
    background: none;
    border: none;
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans TC';
}

nav{
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
}

.top{
    display: grid;
    grid-template-columns: 1fr 84px 91px;
}

.webname{
    width: 150px;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    line-height: 34px;
    margin:10px 0px ;
    text-decoration: none;
    color: #448899;
}

.book{
    width: 64px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin:20px 10px ;
    text-align: center;
    line-height: 14px;
    text-decoration: none;
    color: #666666;
    justify-content:center;
}

.signin{
    width: 71px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin:20px 10px ;
    text-align: center;
    line-height: 14px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    justify-content:center;
    display:none;
}

.signin.show{
    display: block;
}

/*註冊跟登入視窗*/
.sign-window{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: none;
}

.sign-window.show{
    display: block;
}

.sign-container{
    display:none;
    width: 340px;
    height: 275px;
    margin: 80px auto;
    background: #ffffff;
    border-radius: 6px;;
}
.sign-container.show{
    display: block;
}

.top-bar{
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0 0 ;
}

.form-container{
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 0 0px 6px 6px;
}
.form-title{
    position: relative;
    color: #666666;
    margin-bottom: 15px;
    font-size: 24px;
}

.close-btn{
    position: absolute;
    line-height: 16px;
    width: 16px;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

.form-content>*{
    width: 100%;
    height: 47px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
}

.form-content>input::placeholder{
    color: #666666;
    font-size: 16px;
}

.form-content>button{
    color: #ffffff;
    width: 100%;
    height: 47px;
    font-size: 19px;
    background: #448899;
    border: 0;
    cursor: pointer;
}

.message{
color: red;
}

.change-sign{
    font-weight: bold;
    color: #666666;
    cursor: pointer;
    margin: 0 auto;
}

h3, p, label, span{
    color: #666666;
}

footer{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 104px;
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #757575;
    text-align: center;
    margin-bottom: 0;
    padding-bottom:calc(100% -150px );
}

.up-seperator{
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #e8e8e8;
}


main{
    min-height: 150px;
    width: 1200px;
    margin: 0 auto;
}


.order-number{
    color: blue;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto 40px auto;
    width: 980px;
}

.headline{
    width: 980px;
    margin: 40px auto 30px auto;
}

@media (max-width:1200px){
    .order-number{width: 100%;}

    .headline{width: 100%;}
    
    nav{
        grid-template-columns: 1fr;
    }
}

@media (max-width:600px){
    .order-number{
        width: 100%;
    }

    .headline{
        width: 100%;
    }

    nav{
        grid-template-columns: 1fr;
    }

    main{
        width: 100%;
    }
}