<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>台北一日遊</title>
<script src="https://kit.fontawesome.com/647c2fadc1.js" crossorigin="anonymous"></script>
<link href="static/css/index.css" rel="stylesheet" type="text/css"  />
</head>
<body>
    <nav>
        <div></div>
        <div class="top">
            <a class="webname" href="/">台北一日遊</a>
            <a class="book" href="/booking">預定行程</a>
            <div class="signin" >登入/註冊</div>
        </div>    
        <div></div>
    </nav>
    <div class="main-contain">
        <section class="slogan">
            <div>
                <div>
                    <h3>輕鬆享受台北一日悠閒</h3>
                    <p>探索每個角落，體驗城市的深度旅遊行程</p>
                </div>
                <form>
                    <input type="text" name="search" placeholder="輸入景點名稱查詢">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <img class="slogan-img" src="static/welcome.png" alt="">
        </section>
        
        <main>
        </main>
    </div>
    
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>

    <script src="static/js/index.js"></script>
</body>
</html>